<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit) = "saveForm(formData)" #formData = "ngForm" novalidate="">

  <div>

    <div class="form-group row has-danger">
      <label class="col-2 col-form-label"><strong>Nombre</strong></label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [(ngModel)] = "user.firstName"
               name="first-name"
               minlength="5"
               required
               #nameInput = "ngModel"
               is-invalid>

        <div *ngIf="nameInput.errors?.required" class="alert alert-danger">
              This field is required
        </div>
        <div *ngIf="nameInput.errors?.minlength" class="alert alert-danger">
              The min length is {{nameInput.errors.minlength.requiredLength}}
        </div>

      </div>

    </div>

    <div class="form-group row has-danger">
      <label class="col-2 col-form-label"><strong>Apellido</strong></label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [(ngModel)] = "user.lastName"
               name="last-name"
               required
               #lastNameInput="ngModel">

        <div *ngIf="lastNameInput.errors?.required" class="alert alert-danger">
            This field is required
        </div>

      </div>

    </div>

  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label"><strong>Correo</strong></label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [(ngModel)] = "user.email"
             name="email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #emailInput = "ngModel">

      <div *ngIf="emailInput.errors?.required" class="alert alert-danger">
            This field is required
      </div>
      <div *ngIf="emailInput.errors?.pattern" class="alert alert-danger">
            Please, make sure to enter a valid email
      </div>
    </div>
  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label"><strong>Country</strong></label>
    <div class="col-8">
      <select type="select" class="custom-select" [(ngModel)]="user.country" name="country">
          <option selected="selected" value="">Select an option</option>
          <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label"><strong>Gender</strong></label>
    <div class="col-8">
      <div class="custom-control custom-radio custom-control-inline" *ngFor="let gender of genders">
        <input [(ngModel)]="user.gender" type="radio" name="gender" [id] = "gender" class="custom-control-input" [value]="gender">
        <label class="custom-control-label" [for]="gender">{{gender}}</label>
      </div>
    </div>
  </div>

  <div class="form-group row has-danger">
    <label class="col-2 col-form-label"><strong>Accept</strong></label>
    <div class="col-8">
      <div class="custom-control custom-checkbox">
        <input name="accept" [(ngModel)]="user.accept" type="checkbox" class="custom-control-input" id="customCheck1" required>
        <label class="custom-control-label" for="customCheck1">Accept therms and conditions</label>
      </div>
    </div>
  </div>


 <!--[disabled] = "formData.invalid"-->
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled] = "formData.invalid"
              type="submit"
              class="btn btn-outline-primary"
              >
        Guardar
      </button>
    </div>
  </div>

</form>

{{user | json}}
