<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Auth app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['home']" routerActiveLink = "active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['price']" routerActiveLink = "active">Price</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink] = "['protected']" routerActiveLink = "active">Protected</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button
          *ngIf="!auth.isAuthenticated()"
          (click) = "login()"
          type="button"
          class="btn btn-dark">
          Login
      </button>
      <button
          *ngIf="auth.isAuthenticated()"
          (click) = "logout()"
          type="button"
          class="btn btn-dark">
          Logout
      </button>
    </span>
  </div>
</nav>
